*{
    font-family: Figtree;

}

@font-face {
    font-family: Figtree;
    src: url(https://fonts.google.com/specimen/Figtree);
}

body{
    background-color: hsl(47,88%,63%);
    width: 100%;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.card{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 336px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 10px black;
}

.card:hover{
    width: 336px;
    box-shadow: 10px 15px black;
    cursor: pointer;
}

.header>img{
    border-radius: 15px;
    width: 100%;

}

.tagging{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.tagging>h3{
    background-color: hsl(47,88%,63%);
    width: max-content;
    padding: 10px;
    border-radius: 5px;
}

p{
    font-size: 16px;
}

.content{
    width: 100%;
}

.content>h2:hover{
    color: hsl(47,88%,63%);
    cursor: pointer;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-img{
    padding-right: 20px;
}

@media screen and (min-width:500px){
    .card{
        width: 100%;
    }
}

@media screen and (min-width:200px){
    .card{
        width: 50%;
    }
}


